<div class="px-2 pb-2 bg-gray-100">
  <%= form_with(model:[@user, @message], url: user_messages_path(@user), data:{controller:"reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
    <%= f.hidden_field :receiver_id, value: @user.id  %>
    <%= f.hidden_field :sender_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: get_name_by_id(current_user.id, @user.id) %>
    <div class="flex items-center overflow-hidden w-full ">
      <i class="fa-solid fa-circle-plus fa-lg px-2" style="color: #7c7c7c"></i>
      <div class="flex border-2 px-2 border-gray-200 rounded-full items-center bg-white">
        <%= f.text_field :body, autocomplete: 'off', class:"w-full  px-2 flex-grow border-0 focus:outline-none"%>
        <i class="fa-regular fa-face-smile fa-lg"></i>
        <%= button_tag type: 'submit', class:"hidden bg-sky-300 px-4 py-2  rounded-r-lg " do %>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
      </div>
      <i class="fa-solid fa-microphone fa-lg px-2" style="color: #7c7c7c"></i>
    </div>
  <% end %>
</div>



<%#= f.submit <i class="fa-regular fa-paper-plane"></i>, class: "bg-blue-900 px-3 py-2 border text-white rounded-full " %>
<%#= button_tag( :class => "bg-blue-900 px-3 py-2 border text-white rounded-full ") do %>
<!--      <i class="icon-share-alt icon-white"></i>-->
<%# end %>