<div class="px-2 pb-2 bg-gray-100">
  <%= form_with(model:[@user, @message], url: user_messages_path(@user), data:{controller:"reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
    <%= f.hidden_field :receiver_id, value: @user.id  %>
    <%= f.hidden_field :sender_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: get_name_by_id(current_user.id, @user.id) %>
    <div class="flex items-center gap-2 w-full py-2 px-2 bg-white rounded-lg">
      <div class="border-2 border-gray-200 rounded-full py-1">
        <i class="fa-solid fa-circle-plus fa-lg px-2" style="color: #7c7c7c"></i>
      </div>
      <div class="flex flex-grow border-2 px-2 border-gray-200 rounded-full items-center bg-white">
        <%= f.text_field :body, autocomplete: 'off', class:"w-full my-0 border-0  flex-grow focus:ring-0 focus:outline-none"%>
        <i class="fa-regular fa-face-smile fa-lg" style="color: #7c7c7c"></i>
        <%= button_tag type: 'submit', class:"hidden bg-sky-300 px-4 py-2  rounded-r-lg " do %>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
      </div>
      <div class="border-2 border-gray-200 rounded-full py-1">
        <i class="fa-solid fa-microphone fa-lg px-2" style="color: #7c7c7c"></i>
      </div>
    </div>
  <% end %>
</div>

