<%= link_to user do %>
  <div class="py-2 px-2 flex items-center hover:bg-gray-200 <%= user.id == params[:id].to_i ? "bg-gray-200 border-l-2 border-blue-500" : "" %>">
    <div class="h-[2.5rem] w-[2.5rem] rounded-full overflow-hidden p-1">
      <%= image_tag("profile_avatar.jpg") %>
    </div>
    <div class="w-full px-2 ">
      <div class="flex items-center justify-between ">
        <%=  user.username %>
        <span class="text-sm text-gray-700 "><%= find_last_message_date(user.id) %></span>
      </div>
      <%= turbo_stream_from "#{get_name_by_id(user.id, Current.user&.id || 0)}last_msg_#{user.id}" %>
      <span id="<%=user.id%>" class="text-sm font-light inline-block truncate"><%= find_last_message(user.id) %></span>
    </div>
  </div>
<% end %>
