<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
 <div class="grid grid-cols-12">
     <div class="col-span-9 rounded bg-white shadow">
       <div class="grid grid-cols-9">
         <div class="h-[90vh] col-span-3 border-r-2   overflow-auto">
           <div class="py-4 px-2 flex justify-between border-b-2">
             <h2 class="">Message</h2>
             <div>
               <i class="fa-solid fa-circle-plus px-2" style="color: #7c7c7c"></i>
               <i class="fa-solid fa-ellipsis-vertical" style="color: #7c7c7c"></i>
             </div>
           </div>
           <!--      Search User-->
           <div class="relative" data-controller="search">
             <div class="flex items-center py-2 border-b-2" >
               <i class="fa-solid fa-circle-plus px-2" style="color: #7c7c7c"></i>
               <input data-search-target="inputField" data-action="input->search#typed" class="w-full px-4 py-2  rounded-lg focus:outline-none" placeholder="Search user...">
               <i class="fa-solid fa-bars px-2" style="color: #7c7c7c"></i>
             </div>
             <div class="absolute w-full bg-white" data-search-target="outputField"></div>
           </div>
           <%= turbo_stream_from "users" %>
           <div id="users" class="">
             <% @users.each do |user| %>
               <%=  render partial: "users/user", locals: {user: user} %>
             <% end %>
           </div>
         </div>
         <div class="h-[90vh] col-span-6 border-2 border-white px-3 rounded-r-lg">
         <% if @user %>
             <div>
           <div class="py-1 flex justify-between items-center">
             <div>
               <div class=" ">
                 <%= @user.username %>
               </div>
               <div class="flex items-center">
                 <div class="h-[0.5rem] w-[0.5rem] bg-[#2ac85e] rounded-full"></div>
                 <p class="text-sm pl-2 text-gray-700">Online</p>
               </div>
             </div>
             <i class="fa-solid fa-ellipsis-vertical" style="color: #7c7c7c"></i>
           </div>
           <div class="pt-2">
             <!--          User + Message div-->
             <div id="scroller_id" class="bg-background-color rounded-t-lg flex flex-col overflow-auto" data-controller="scroll">
               <!--          User details over message section-->
               <div class="flex flex-col items-center pt-2">
                 <div class="h-[6rem] w-[6rem] rounded-full overflow-hidden ">
                   <% if @user.avatar.attached? %>
                     <%= image_tag(@user.avatar, class:"w-full h-full object-cover") %>
                     <% else %>
                   <%= image_tag("profile_avatar.jpg", class:"w-full h-full object-cover") %>
                     <% end %>
                 </div>
                 <div class="font-semibold m-1">
                   <%= @user.username %>
                 </div>
                 <div class="font-light">
                   <%= @user.email %>
                 </div>
               </div>
<!--               Divider-->
               <div class="relative flex py-2 items-center">
                 <div class="flex-grow border-t border-gray-400"></div>
                 <span class="flex-shrink mx-4 text-gray-400"><%= @first_message_date.strftime('%Y-%m') %></span>
                 <div class="flex-grow border-t border-gray-400"></div>
               </div>
               <!--          Message section-->
               <%= turbo_stream_from @room %>
               <div id="messages" class=" h-[42vh]" >
                 <%= render @messages %>
               </div>
             </div>
             <!--          Message form-->
             <div class="w-full">
               <%= render "messages/form" %>
             </div>
           </div>
             </div>
         <% else %>
           <div class="h-[90vh] py-1 flex justify-center items-center">
             <%= render "messages/no_message" %>
           </div>
         <% end %>
       </div>
       </div>
     </div>
<!--   Advertisement section-->
     <div class="col-span-3  mx-4">
       <div class="bg-white  p-4 shadow rounded">
       <span >Advertising</span>
       <div class="py-2">
         <%= image_tag("https://picsum.photos/200") %>
       </div>
       <%= link_to  "Visit website" , root_path, class:"text-blue-700"%>
       </div>
       <div class="flex pt-4">
         <h1 class="text-sm text-gray-700 underline pr-2">Privacy policy</h1>
         <h1 class="text-sm text-gray-700 underline pr-2">Contact us</h1>
         <h1 class="text-sm text-gray-700 underline">Cookies</h1>
       </div>
       <span class="text-sm text-gray-700">Minhaz, 2024</span>
     </div>
 </div>

</div>
