<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="grid grid-cols-12">
    <div class="min-h-screen col-span-3 border-2 px-3 divide-y overflow-auto">
      <div class="py-2">
        <h2 class="text-xl">Message</h2>
      </div>
      <%= turbo_stream_from "users" %>
      <%= render @users %>
    </div>
    <div class="min-h-screen col-span-9 border-2 px-3 ">
      <% if @user %>
        <div class="py-1">
          <div class="text-2xl font-semibold">
            <%= @user.username %>
          </div>
          <p>Available</p>
        </div>
        <div class="bg-gray-100 rounded-lg flex flex-col">
          <%= turbo_stream_from "messages" %>
          <div id="messages" class="h-[32rem] overflow-auto">
            <%= render @messages %>
          </div>
          <div class="">
            <%= render "messages/form" %>
          </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
