<div class="flex flex-col items-center justify-center">
  <h2 class="text-2xl font-semibold text-center ">Log in</h2>
  <div class="flex flex-col items-center justify-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, class:"font-medium text-blue-950 text-xl py-3"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"border border-2 border-gray-200 rounded-lg" %>
      </div>

      <div class="field py-2">
        <%= f.label :password , class:"font-medium text-blue-950 text-xl py-3"%><br />
        <%= f.password_field :password, autocomplete: "current-password" , class:"border border-2 border-gray-200 rounded-lg"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field py-2">
          <%= f.check_box :remember_me, class:"border-2 border-gray-200 pr-2" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center ">
        <%= f.submit "Log in" , class:"bg-sky-500 w-full text-white rounded-lg py-2 font-bold"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>