<nav class="bg-white  flex items-center justify-around py-2">
    <div class="flex flex items-center">
      <%= link_to root_path do %>
      <div class="flex items-center justify-center hover:bg-background-color px-2 py-2 hover:rounded-full">
        <div>
          <i class="fa-solid fa-star-of-life fa-lg" style="color: #2563eb"></i>
        </div>
      </div>
      <% end %>
      <div class="px-4 mx-2 max-w-48 border-2 rounded-full hover:bg-background-color flex items-center">
        <i class="fa-solid fa-magnifying-glass" style="color: #a1a0a0"></i>
        <input class="w-full px-4 py-1 focus:outline-none" placeholder="Search...">
      </div>
    </div>

    <div class="flex gap-2">

      <%= link_to root_path do %>
        <div class="flex items-center justify-center hover:bg-background-color px-3 py-1 hover:rounded-full">
          <i class="fa-solid fa-house  pr-2" style="color: #2563eb"></i>
          <h1 class="hidden lg:block  ">Homepage</h1>
        </div>
      <% end %>

      <%= link_to root_path do %>
        <div class="flex items-center justify-center hover:bg-background-color px-3 py-1 hover:rounded-full">
          <i class="fa-solid fa-users  px-2 " style="color: #2563eb"></i>
          <h1 class="hidden lg:block  ">Connections</h1>
        </div>

      <% end %>


  <%= link_to root_path do %>
    <div class="flex items-center justify-center hover:bg-background-color px-3 py-1 hover:rounded-full">
      <i class="fa-solid fa-message  px-2" style="color: #2563eb"></i>
      <h1 class="hidden lg:block  ">Messages</h1>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div class="flex items-center justify-center hover:bg-background-color px-3 py-1 hover:rounded-full">
      <i class="fa-solid fa-bell  px-2" style="color: #2563eb"></i>
      <h1 class="hidden lg:block pr-2">Notifications</h1>
      <div class="bg-red-500 px-1 h-[1.3rem] w-[1.3rem] text-center rounded-full text-white text-sm">3</div>
    </div>
  <% end %>
      <div class="border-l-2 border-gray-300 my-1">
      </div>
  <%= link_to root_path do %>
    <div class="flex items-center justify-center hover:bg-background-color px-3 py-1 hover:rounded-full">
      <i class="fa-solid fa-screwdriver-wrench  px-2" style="color: #2563eb"></i>
      <h1 class="hidden lg:block  ">Tools</h1>
    </div>
  <% end %>

  </div>

 <%#= link_to root_path do %>
    <% if current_user  %>
      <div data-controller="toggle" class="relative">
        <button data-action="click->toggle#menu" class=" ">
          <div class="flex items-center hover:bg-background-color px-3 py-1 hover:rounded-full" >
            <div class="px-2">
              <div class="rounded-full h-[2rem] w-[2rem] overflow-hidden ">
                <% if current_user.avatar.attached? %>
                  <%= image_tag(current_user.avatar, class:"w-full h-full object-cover") %>
                <% else %>
                   <%= image_tag("profile_avatar.jpg", class:"w-full h-full object-cover") %>
                  <% end %>
              </div>
            </div>
            <%= current_user.username %>
            <i class="fa-solid fa-caret-down px-2"></i>
          </div>
        </button>

        <div data-toggle-target="menu" class="hidden absolute bg-white px-3 lg:px-5 py-2 divide-y-2 border border-gray-300 rounded-full right-0">
           <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="flex items-center hover:bg-background-color px-2 py-1 hover:rounded-lg">
        <div class="px-2">
          <div class="rounded-full h-[3rem] w-[3rem] overflow-hidden ">
            <%= image_tag("profile_avatar.jpg") %>
          </div>
        </div>
        <h1 class="font-semibold "> Sign In </h1>
      </div>
    <% end %>
  <%# end %>
</nav>

