<!DOCTYPE html>
<html>
  <head>
    <title>Messaging</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= ".msg-#{current_user&.id}-cont" %>{
       display: flex;
      justify-content: flex-end;
      }
      <%= ".msg-#{current_user&.id}-body" %>{
          background-color: rgb(2 132 199); !important;
          color: white;
          /*max-width: 12rem;*/
      }
    </style>
  </head>

  <body class="bg-gray-100">
    <%= render "layouts/nav" %>
    <main class="container mx-auto mt-4 px-5 ">
      <%= yield %>
    </main>
  </body>
</html>
