<!DOCTYPE html>
<html>
  <head>
    <title>Messaging</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= ".msg-#{current_user&.id}-cont" %>{
          display: flex;
          justify-content: flex-end; !important;
      }
      <%= ".msg-#{current_user&.id}-body" %>{
          background-color: rgba(0,122,245,255); !important;
          color: white;
      }
      <%= ".msg-#{current_user&.id}-avatar" %>{
          display: none;
      }
    </style>
  </head>

  <body class="bg-background-color">
    <%= render "layouts/nav" %>
    <main class="container mx-auto mt-4 px-5 ">
      <%= yield %>
    </main>
  </body>
</html>
